!!!
%html
  %head
    %link{ href: '/app/assets/application.css', rel: 'stylesheet' }
    %script{ src: '/app/assets/application.js' }
    %title Test Environment Bot
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-primary
      %a.navbar-brand.mb-0.h1{ href: '/' } Test Environment Bot
      %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse',
        'data-target': '#navbarNav', 'aria-controls': 'navbarNav',
        'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{ href: '/project_configs' } Project configs
          %li.nav-item
            %a.nav-link{ href: '/jira_configs' } Jira configs
    .container
      = yield
